body {
    font-family: Helvetica, sans-serif;
    background: #E9E3E6;
    padding: 0 40px;
    text-align: center;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
    color: #353335;
}

button {
    margin: auto;
    margin-top: 5%;
    height: 75px;
    border-radius: 15px;
    background-color: #B2B2B2;
}

.container{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    border-radius: 5%;
    background-color: #353335;
}

.container2 {
    background-color: #9A8F97;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
}